.Sectors {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	align-items: center;
}

.Sectors input[type="number"] {
	padding: 0.5rem 0;
	margin: 0;
	width: 98%;
	text-align: center;
	outline: none;
}

.title {
	display: flex;
	gap: 1rem;
	align-items: center;
}
