.App {
	text-align: center;
}

.Header {
	width: 100%;
	height: auto;
	background-color: blue;
	display: flex;
	justify-content: space-around;
	color: white;
	padding: 1rem 0;
}

.Header img {
	width: 100px;
	height: auto;
}

form {
	padding-bottom: 3rem;
}

form div input {
	margin: 0.5rem 0;
	width: 250px;
	padding: 0.5rem 1rem;
	display: flex;
	justify-self: flex-end;
}

input[type="color"] {
	padding: 0;
	margin: 0;
	width: 35px;
	height: 35px;
	border: none;
}

button {
	width: 150px;
	height: 50px;
	padding: 0.7rem 1.2rem;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(61, 61, 240);
}

.InputData {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 0 100px;
}

.InputSectors {
	display: grid;
}

.InputSectors section {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.InputSectors button {
	justify-self: center;
}

.InputSectors .Input-titles {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(11, 1fr);
	justify-items: center;
	align-items: center;
	text-align: center;
}

.InputSectors footer {
	font-size: x-small;
}

.Grid {
	width: 100%;
	height: 80vh;
	margin: 0 auto 5rem;
	display: grid;
}

.Grid div {
	border: solid black 1px;
}

.Results {
	max-width: 1000px;
	margin: 0 auto;
}

.Sector-results {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.Views {
	max-width: 1000px;
	margin: 0 auto;
}
