.App {
	text-align: center;
}

form div input {
	width: 250px;
	display: flex;
	justify-self: flex-end;
}

.Grid {
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
	display: grid;
}

.Grid div {
	border: solid black 1px;
}

.Resultados-por-sector {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
